<%- include('partials/navbar', { page: '/login' }) %>

<div class="container">
    <h1>Login</h1>
    <% if (errorMessage) { %>
        <div class="alert alert-danger"><%= errorMessage %></div>
    <% } %>
    <form method="POST" action="/login">
        <div>
            <label for="userName">Username:</label>
            <input type="text" name="userName" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
